body
{ 
    background: rgb(2,0,36);
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(0,255,146,0.3477766106442577) 0%,#2AA2DF 99%);
     width: 100%;
    height: 100%;
    background-attachment:fixed;
}

.centro
{
    margin-top: -150px;
    margin-bottom: 30px;
    display: block;
    display: inline-block; 
    background: #f2fcfc;
    width: 80px;
    height: 80px;
    padding: 20px 20px 0px 20px;
    border-radius: 400px 400px 400px 400px; 
}

.card-body img{
    width: 50px;
    height: 50px;
}

.retro
{
    padding-top: 110px;
}
h6{
    color: #00A8C3;
}
h3{
    color: #00A8C3;
}
p{
    color: #00A8C3;
    font-weight:500;
}

@media only screen and (max-width: 500px) {
    .retro
    {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
  }

.form-group a
{
    text-decoration: underline;
    color:dodgerblue;
}

.form-group a:hover
{
    color:dodgerblue;
}

.enviar
{
    border-radius: 44px 44px 44px 44px;
    border: 1px solid #13a356; 
}

.enviar:hover
{ 
    transition: border 0.3s; 
    box-shadow: 0px 10px 31px -5px rgba(0,166,155,1);
}

.form-group label
{
    color: #13a356;
} 
.col-6 a
{
    color:#13a356;
}

.col-6 a:hover
{
    color:#13a356; 
}


@media only screen and (max-width: 600px) {
    .tma
    {
        width: 98% !important;
        height: 80% !important;
    }
}

.tma
{
    width: 500px;
    height: auto;
}


.form-group input:focus
{
    box-shadow: 0px 2px 7px -2px rgb(19, 163, 86) !important;
}

#registro{
    
    color: #00A8C2;
    font-weight: 600;
}